.contactListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid #f0e9e9;
    background-color: #fffafa;
}

.contactAlign {
    margin-right: auto;
    margin-left: 30px;
}

.btnDelete {
    padding: 10px 15px;
    background-color: #16eeca;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.btnDelete:hover {
    background-color: aquamarine;
    transform: scale(1.05);
}
