.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    padding: 30px;
    border: 2px solid #f0e9e9;
    border-radius: 15px;
    max-width: 500px;
    background-color: #fffafa;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formLabel {
    font-weight: bold;
    color: #333;
}

.btnSubmit {
    padding: 15px 25px;
    background-color: #16eeca;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    font-weight: bold;
}

.btnSubmit {
    background-color: #16eeca;;
    transform: scale(1.05);
}